{% extends "encyclopedia/layout.html" %}

{% block title %}
    {{ title }} - Edit
{% endblock %}

{% block body %}
    <form method="post">
        {% csrf_token %}
        <p>
            <label for="{{ form.title.id_for_label }}">Title:</label>
            {{ form.title }}  <!-- The title should be displayed but not editable -->
        </p>
    
        <p>
            <label for="{{ form.content.id_for_label }}">Content:</label>
            {{ form.content }}  <!-- The content can be edited -->
        </p>
    
        <button type="submit">Save Changes</button>
    </form>
{% endblock %}